*.lo
*.o
Makefile
config.h
config.log
config.status
libpcre.la
libpcre.pc
libpcre16.pc
libpcre32.pc
libpcrecpp.pc
libpcreposix.pc
libtool
pcre-config
pcre.h
pcre_chartables.c
pcre_stringpiece.h
pcrecpparg.h
stamp-h1
.deps/
.libs/
