*.lo
*.o

.libs/
Makefile
celt/.deps/
celt/.dirstamp
celt/arm/.deps/
celt/arm/armopts.s
celt/tests/.deps/
celt/tests/.dirstamp
celt/tests/test_unit_cwrs32
celt/tests/test_unit_dft
celt/tests/test_unit_entropy
celt/tests/test_unit_laplace
celt/tests/test_unit_mathops
celt/tests/test_unit_mdct
celt/tests/test_unit_rotation
celt/tests/test_unit_types
celt/x86/.deps/
celt/x86/.dirstamp
config.h
config.log
config.status
doc/Doxyfile
doc/Makefile
libopus.la
libtool
opus-uninstalled.pc
opus.pc
opus_compare
opus_demo
repacketizer_demo
silk/.deps/
silk/.dirstamp
silk/arm/.deps/
silk/fixed/.deps/
silk/fixed/arm/.deps/
silk/fixed/x86/.deps/
silk/float/.deps/
silk/float/.dirstamp
silk/tests/.deps/
silk/tests/.dirstamp
silk/tests/test_unit_LPC_inv_pred_gain
silk/x86/.deps/
silk/x86/.dirstamp
src/.deps/
src/.dirstamp
stamp-h1
tests/
