*.o
*.d
*.s
*.pod
*.so*
doc/

.version
config.asm
config.h
ffbuild/.config
ffbuild/config.fate
ffbuild/config.log
ffbuild/config.mak
ffbuild/config.sh
ffmpeg
ffmpeg_g
ffprobe
ffprobe_g
libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/libavcodec.pc
libavcodec/libavcodec.ver
libavcodec/libavcodec.version
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/libavdevice.pc
libavdevice/libavdevice.ver
libavdevice/libavdevice.version
libavdevice/outdev_list.c
libavfilter/filter_list.c
/libavfilter/libavfilter.pc
libavfilter/libavfilter.ver
libavfilter/libavfilter.version
libavformat/demuxer_list.c
libavformat/libavformat.pc
libavformat/libavformat.ver
libavformat/libavformat.version
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h
libavutil/libavutil.pc
libavutil/libavutil.ver
libavutil/libavutil.version
libpostproc/libpostproc.pc
libpostproc/libpostproc.ver
libpostproc/libpostproc.version
libswresample/libswresample.pc
libswresample/libswresample.ver
libswresample/libswresample.version
libswscale/libswscale.pc
libswscale/libswscale.ver
libswscale/libswscale.version
